<mat-toolbar [className]="isHorizontal ? 'topbar horizontal-topbar' : 'topbar'">
  @if(isHorizontal) {
  <div class="d-none d-sm-flex">
    <app-branding></app-branding>
  </div>
  } @else {
  <button
    mat-icon-button
    (click)="handleToggle()"
    class="d-flex justify-content-center"
  >
    <i-tabler name="align-left" class="icon-20 d-flex" />
  </button>
  }

  <div class="d-none d-lg-flex">
    <app-header-dropdown-links [apps]="apps" [quicklinks]="quicklinks" />

    <a mat-button href="javascript:void(0)">Chat</a>
    <a mat-button href="javascript:void(0)">Calendar</a>
    <a mat-button href="javascript:void(0)">Email</a>
  </div>

  <span class="flex-1-auto"></span>

  <button
    mat-icon-button
    (click)="toggleMobileFilterNav.emit()"
    class="d-flex d-lg-none justify-content-center"
  >
    <i-tabler name="grid-dots" class="icon-20 d-flex" />
  </button>

  <button
    mat-stroked-button
    class="d-none d-lg-flex"
    (click)="openSearchDialog()"
  >
    <div class="d-flex align-items-center">
      <i-tabler name="search" class="icon-20 d-flex m-r-10" />
      Try to Searching...
    </div>
  </button>

  <app-language-selector
    [selectedLanguage]="selectedLanguage"
    [languages]="languages"
    (languageChanged)="changeLanguage($event)"
  />

  <app-notifications-dropdown [notifications]="notifications" />
  <app-shortcuts-dropdown />
  <app-profile-dropdown [profiles]="profiles" />
</mat-toolbar>
