<button mat-icon-button [matMenuTriggerFor]="msgMenu" aria-label="Messages">
  <i-tabler class="d-flex" name="message-2" />

  <div class="pulse">
    <span class="heartbit border-primary"></span>
    <span class="point bg-primary"></span>
  </div>
</button>

<mat-menu
  #msgMenu="matMenu"
  xPosition="before"
  class="topbar-dd cardWithShadow"
>
  <div class="d-flex align-items-center p-x-32 p-y-16">
    <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Messages</h6>

    <span class="m-l-16">
      <span class="bg-warning text-white p-x-8 p-y-4 f-w-500 rounded f-s-12">
        5 new
      </span>
    </span>
  </div>

  @for(notification of notifications; track notification.title) {
  <button mat-menu-item class="p-x-32 p-y-16">
    <div class="d-flex align-items-center">
      <img
        [src]="notification.img"
        class="rounded-circle"
        width="48"
        alt="notification"
      />

      <div class="m-l-16">
        <h5 class="f-s-14 f-w-600 m-0 mat-subtitle-1">
          {{ notification.title }}
        </h5>

        <span>{{ notification.subtitle }}</span>
      </div>
    </div>
  </button>
  }

  <div class="p-y-12 p-x-32">
    <button mat-flat-button color="primary" class="w-100">
      See All Messages
    </button>
  </div>
</mat-menu>
