<button mat-button [matMenuTriggerFor]="appsmenu" aria-label="Notifications">
  <div class="d-flex align-items-center">Apps <i-tabler name="chevron-down" class="icon-16 m-l-4" /></div>
</button>

<mat-menu #appsmenu="matMenu" class="apps-dd cardWithShadow">
  <div class="row">
    <div class="col-sm-8 b-r-1 p-r-0">
      <div class="p-32 p-b-0">
        <div class="row">
          @for (app of apps; track app.title) {
            <div class="col-sm-6 text-hover-primary">
              <a [routerLink]="[app.link]" class="d-flex align-items-center text-decoration-none m-b-24">
                <span
                  class="text-primary bg-light-primary rounded icon-40 d-flex align-items-center justify-content-center"
                >
                  <img [src]="app.img" width="20" alt="app-branding" />
                </span>

                <div class="m-l-16">
                  <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
                    {{ app.title }}
                  </h5>
                  <span class="mat-body-1 f-s-12">{{ app.subtitle }}</span>
                </div>
              </a>
            </div>
          }
        </div>
      </div>

      <div class="b-t-1 p-24 d-none d-lg-flex align-items-center justify-content-between">
        <span class="d-flex align-items-center mat-subtitle-1 f-s-16 f-w-500">
          <i-tabler name="help" class="icon-20 m-r-8" />
          Frequently Asked Questions
        </span>

        <a [routerLink]="['/theme-pages/faq']" mat-flat-button color="primary">Check</a>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="p-x-16 p-y-32">
        <h4 class="f-s-18 f-w-600 mat-subtitle-1 m-b-16">Quick Links</h4>

        @for (quicklink of quicklinks; track quicklink.title) {
          <div class="text-hover-primary">
            <a
              [routerLink]="[quicklink.link]"
              class="hover-text text-decoration-none mat-body-1 f-w-600 d-block p-y-8"
              >{{ quicklink.title }}</a
            >
          </div>
        }
      </div>
    </div>
  </div>
</mat-menu>
