<button
  mat-icon-button
  [matMenuTriggerFor]="notificationMenu"
  aria-label="Notifications"
>
  <i-tabler class="d-flex" name="layout-grid-add" />

  <div class="pulse">
    <span class="heartbit border-success"></span>
    <span class="point bg-success"></span>
  </div>
</button>

<mat-menu
  #notificationMenu="matMenu"
  xPosition="before"
  class="topbar-dd cardWithShadow"
>
  <div class="d-flex align-items-center p-x-32 p-y-16">
    <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Shortcuts</h6>
  </div>

  <div class="row m-x-0">
    <div class="col-6 p-x-0">
      <a
        class="bg-light-primary-hover d-flex justify-content-center flex-column gap-8 text-decoration-none p-x-20 p-y-12 text-center b-t-1 b-b-1 b-r-1"
        [routerLink]="['/']"
      >
        <div
          class="icon-45 bg-light-info rounded-circle m-auto round d-flex align-items-center justify-content-center"
        >
          <i-tabler name="list-check" class="icon-20 text-info" />
        </div>

        <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Invoice</h6>
        <p class="d-block m-0 mat-body-1 f-w-500">Get latest invoice</p>
      </a>
    </div>

    <div class="col-6 p-x-0">
      <a
        class="bg-light-primary-hover d-flex justify-content-center flex-column gap-8 text-decoration-none p-x-20 p-y-12 text-center b-t-1 b-b-1"
        [routerLink]="['/']"
      >
        <div
          class="icon-45 bg-light-primary rounded-circle m-auto round d-flex align-items-center justify-content-center"
        >
          <i-tabler name="message-2" class="icon-20 text-primary" />
        </div>

        <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Chat</h6>
        <p class="d-block m-0 mat-body-1 f-w-500">New messages</p>
      </a>
    </div>

    <div class="col-6 p-x-0">
      <a
        class="bg-light-primary-hover d-flex justify-content-center flex-column gap-8 text-decoration-none p-x-20 p-y-12 text-center b-b-1 b-r-1"
        [routerLink]="['/']"
      >
        <div
          class="icon-45 bg-light-accent rounded-circle m-auto round d-flex align-items-center justify-content-center"
        >
          <i-tabler name="phone-call" class="icon-20 text-accent" />
        </div>

        <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Contact</h6>
        <p class="d-block m-0 mat-body-1 f-w-500">2 Unsaved Contacts</p>
      </a>
    </div>

    <div class="col-6 p-x-0">
      <a
        class="bg-light-primary-hover d-flex justify-content-center flex-column gap-8 text-decoration-none p-x-20 p-y-12 text-center b-b-1"
        [routerLink]="['/']"
      >
        <div
          class="icon-45 bg-light-error rounded-circle m-auto round d-flex align-items-center justify-content-center"
        >
          <i-tabler name="mail" class="icon-20 text-error" />
        </div>

        <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Email</h6>
        <p class="d-block m-0 mat-body-1 f-w-500">Get new emails</p>
      </a>
    </div>

    <div class="col-6 p-x-0">
      <a
        class="bg-light-primary-hover d-flex justify-content-center flex-column gap-8 text-decoration-none p-x-20 p-y-12 text-center b-r-1"
        [routerLink]="['/']"
      >
        <div
          class="icon-45 bg-light-warning rounded-circle m-auto round d-flex align-items-center justify-content-center"
        >
          <i-tabler name="edit" class="icon-20 text-warning" />
        </div>

        <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">ToDo</h6>
        <p class="d-block m-0 mat-body-1 f-w-500">Daily tasks</p>
      </a>
    </div>

    <div class="col-6 p-x-0">
      <a
        class="bg-light-primary-hover d-flex justify-content-center flex-column gap-8 text-decoration-none p-x-20 p-y-12 text-center"
        [routerLink]="['/']"
      >
        <div
          class="icon-45 bg-light-success rounded-circle m-auto round d-flex align-items-center justify-content-center"
        >
          <i-tabler name="calendar" class="icon-20 text-success" />
        </div>

        <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Calendar</h6>
        <p class="d-block m-0 mat-body-1 f-w-500">Get dates</p>
      </a>
    </div>
  </div>
</mat-menu>
