<button [matMenuTriggerFor]="flags" mat-icon-button class="m-l-10">
  <img
    [src]="selectedLanguage.icon"
    class="rounded-circle object-cover icon-20"
    alt="selectedLanguage"
  />
</button>

<mat-menu #flags="matMenu" class="cardWithShadow">
  @for (lang of languages; track lang) {
    <button mat-menu-item (click)="changeLanguage(lang)">
      <div class="d-flex align-items-center">
        <img [src]="lang.icon" class="rounded-circle object-cover m-r-8 icon-20" alt="lang" />

        <span class="mat-subtitle-1 f-s-14">{{ lang.language }}</span>
      </div>
    </button>
  }
</mat-menu>
